@*
    This is the example main content of the AdminLTE demo and represents a good smattering of AdminLTE functionality in a cshtml
    TODO: Delete this file when you're ready to start building your app
*@

@{
    @model AdminLteModels.DoctorRegistration
}
@{
               // TODO: Consider setting Layout set automatially in _ViewStart.cshtml
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";


           // EXAMPLE:
           // Using the ViewBag on a page to set the title and sub-title
           // This will cause the _AdminLteLayout to include this value in the page title
           // And also set the top titles in the main content area of the page
           ViewBag.Title = "Doctor Registration for Online System";
           //ViewBag.TitleSmall = "Version 2.0";

           // EXAMPLE:
           // Using the Breadcrumb class to create a dynamically generated breadcrumb on the page with
           // Titles, plus optional icon and URLs
           ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Doctor Registration", "", "fa-floppy-o")
    });


}
@*Main Content Here*@
<script type="text/javascript" src="~/Scripts/countries.js"></script>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
<script src="~/Scripts/ModalDialog.js"></script>

<style>
    .error {
        border-color: red;
        color: red;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        populateCountries("country", "state");
        $("#subUntil").hide();
        $("#txtSubscriptionTo").datepicker({ minDate: 0 });

        $("#successMsg").hide();
        $("#warningMsg").hide();
        $("#errorMsg").hide();


        //Reset functionality
        $("#btnReset").click(function () {

            $("#txtHospitalName").val("");
            $("#txtFirstName").val("");
            $("#txtMiddleName").val("");
            $("#txtLastName").val("");
            $("#txtAddressLine1").val("");
            $("#txtAddressLine2").val("");

            $("#txtCity").val("");
            $("#txtZipCode").val("");
            $("#txtTelephone").val("");
            $("#txtMobileNo").val("");
            $("#txtFax").val("");
            $("#txtEmail").val("");
            $("#txtWebsite").val("");
            $("#txtSubscriptionTo").val("");
            $("#subUntil").hide();

            $("#optionsRadiosInline2").click();
            $("#optionsRadiosInline1").click();
        });

        $("#doctorRegForm").validate({

            rules: {
                HospitalName: "required",
                FirstName: "required",
                LastName: "required",
                Mobileno: "required",
                Email: "required",
                SerialNumber: "required"
            },
            messages: {
                HospitalName: "Please specify the Hospital/Clinic Name",
                FirstName: "Please specify the First Name",
                LastName: "Please specify the Last Name",
                Mobileno: "Please specify the Mobile No",
                Email: "Please specify the E-Mail ID",
                SerialNumber: "Please specify the Serial Number"
            }

        });

        $("#optionsRadiosInline2").click(function () {
            $("#subUntil").show();
        });

        $("#optionsRadiosInline1").click(function () {
            $("#subUntil").hide();
        });

        //to register the doctor.
        $("#btnSave").click(function () {

            if ($("#doctorRegForm").valid()) {
                waitingDialog.show('Please Wait!!');
                var hospitalName = $("#HospitalName").val();
                var FirstName = $("#FirstName").val();
                var MiddleName = $("#MiddleName").val();
                var lastName = $("#LastName").val();
                var AddressLine1 = $("#Address1").val();
                var AddressLine2 = $("#Address2").val();
                var country = $("#country option:selected").text();
                var state = $("#state option:selected").text();
                var City = $("#City").val();
                var ZipCode = $("#ZipCode").val();
                var Telephone = $("#Phone").val();
                var MobileNo = $("#Mobileno").val();
                var Fax = $("#Fax").val();
                var Email = $("#Email").val();
                var Website = $("#Website").val();

                var subscriptionType = 1;

                var subscriptionTo = $("#txtSubscriptionTo").val();

                if ($('#optionsRadiosInline2').is(':checked')) {
                    subscriptionType = 0;
                } else {
                    subscriptionType = 1;
                    subscriptionTo = "1/1/1900";
                }

                var jsonString = {};
                jsonString.HospitalName = hospitalName;
                jsonString.FirstName = FirstName;
                jsonString.MiddleName = MiddleName;
                jsonString.LastName = lastName;
                jsonString.Address1 = AddressLine1;
                jsonString.Address2 = AddressLine2;
                jsonString.City = City;
                jsonString.State = state;
                jsonString.Country = country;
                jsonString.ZipCode = ZipCode;
                jsonString.Phone = Telephone;
                jsonString.Mobileno = MobileNo;
                jsonString.Fax = Fax;
                jsonString.Email = Email;
                jsonString.Website = Website;

                jsonString.SubscriptionType = subscriptionType;
                jsonString.SubscriptionDate = subscriptionTo;

                var dto = { 'objDoctorRegistration': jsonString };

                $.ajax({
                    type: "POST",
                    
                    url: '@Url.Action("InsertOnlineDoctor", "DoctorRegistration")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(dto), // Check this call.
                    success: function (data) {
                        waitingDialog.hide();
                        //alert("Success");
                        if (data == "SUCCESS") {
                            $("#successMsg").show();
                            $("#warningMsg").hide();
                            $("#errorMsg").hide();
                        }
                        else if (data == "DOCTOREXISTS") {
                                $("#successMsg").hide();
                                $("#warningMsg").show();
                                $("#errorMsg").hide();
                        }

                        else {
                            $("#successMsg").hide();
                            $("#warningMsg").hide();
                            $("#errorMsg").show();
                            
                        }
                    },

                    error: function (data) {
                        waitingDialog.hide();
                        alert(data.responseText);
                    }
                });

            }


        });
    });
</script>
<div class="row">
    <div id="successMsg" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> Success!</h4>
        Doctor Details Saved Successfully! An E-Mail has been sent to the Doctor with the Credentials to activate the same.
    </div>
    
    <div id="warningMsg" class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-warning"></i> Doctor Details Exists!</h4>
        Please check the Doctor details since there is a duplicate entry exists with the same credentials!.
    </div>
    
    <div id="errorMsg" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i> Error! Doctor cannot be saved</h4>
       Oops! There is some Error due to which the doctor details are not saved. Please check the same!
    </div>

    <form id="doctorRegForm">

        <div class="col-md-6">
            <div class="box box-warning">
                @*<div class="box box-header with-border">
                        <h3 class="box-title">Register Doctor Here</h3>
                    </div>*@
                <div class="box-body">
                    <div class="form-group">
                        <label for="clinicHospitalName">Clinic/Hospital Name</label>
                        @Html.TextBoxFor(m => m.HospitalName, new { @class = "form-control", @placeholder = "Enter Clinic/Hospital Name" })
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">First Name</label>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Enter First Name" })
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">Middle Name</label>
                        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @placeholder = "Enter Middle Name" })
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">Last Name</label>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Enter Last Name" })
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">Address Line 1</label>
                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", @placeholder = "Enter Address Line 1" })
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">Address Line 2</label>
                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", @placeholder = "Enter Address Line 2" })
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">Country</label>
                        @*@Html.DropDownListFor(m => m.Country, new List<SelectListItem>(), new { @class = "form-control", @id = "country", @name = "country" })*@
                        <select id="country" class="form-control" name="country"></select>
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">State</label>
                        @*@Html.DropDownListFor(m => m.State, new List<SelectListItem>(), new { @class = "form-control", @id = "state", @name = "state" })*@
                        <select name="state" class="form-control" id="state"></select>
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">City</label>
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "Enter City" })
                    </div>
                    <div class="form-group">
                        <label for="clinicHospitalName">Zip Code</label>
                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", @placeholder = "Enter Zip Code" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-warning">
                @*<div class="box box-header with-border">
                        <h3 class="box-title">Register Doctor Here</h3>
                    </div>*@
                <div class="box-body">
                    <div class="form-group">
                        <label for="clinicHospitalName">Telephone</label>
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Enter Telephone Number" })
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">Mobile Number</label>
                        @Html.TextBoxFor(m => m.Mobileno, new { @class = "form-control", @placeholder = "Enter Mobile Number" })
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">Fax</label>
                        @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @placeholder = "Enter Fax Number" })
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">E-Mail Address</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter E-Mail Address" })
                    </div>

                    <div class="form-group">
                        <label for="clinicHospitalName">Website</label>
                        @Html.TextBoxFor(m => m.Website, new { @class = "form-control", @placeholder = "Enter Website Address" })
                    </div>
                   
                    
                    <div class="form-group">
                        <label>License Type</label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Full
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Subscription Based
                        </label>

                    </div>
                    
                    <div class="form-group" id="subUntil">
                        <label>Subscription Until</label>
                        <input id="txtSubscriptionTo" class="form-control" type="text" />
                    </div>

                    <div class="form-group">
                        <button type="button" id="btnSave" class="btn btn-block btn-success btn-lg">Save</button>
                        <button type="button" id="btnReset" class="btn btn-block btn-primary btn-lg">Reset Data</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>






@section scripts {
    @*NOTE: These should NOT be used in a production situation
        They do contains useful snippets on how to setup charts*@
    <script src="~/Scripts/AdminLTE/pages/dashboard2.js"></script>
    <script src="~/Scripts/AdminLTE/demo.js"></script>
}
